{# We use eleventy-rss plugin absoluteUrl filter as helper for absolute URL generation #}

{# General #}
<meta name="description" content="{{ site.description }}">
<!-- Open Graph Metadata -->
  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ page.url | absoluteUrl(site.baseUrl) }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="{{ locale or site.locale }}">
  {% if image %}
  <meta property="og:image" content="{{ image | absoluteUrl(site.baseUrl) }}">
  {% endif %}
  
  <!-- Twitter Card Metadata -->
  <meta name="twitter:card" content="{% if image %}summary_large_image{% else %}summary{% endif %}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description or site.description }}">
  {% if image %}
  <meta name="twitter:image" content="{{ image | absoluteUrl(site.baseUrl) }}">
  {% endif %}



{# Favicon #}
<link rel="icon" href="{{ '/assets/images/favicon.ico' | url | absoluteUrl(site.baseUrl) }}">

{# This file is ignored by prettier by now /bc too much damage ;-), see .prettierignore #}
