{# Macro function to render child items (submenus) #}
{% macro renderNavListDropdown(childEntry) -%}
<li>
    <a class="dropdown-item" href=" {{ childEntry.url | url }}">
    {{childEntry.title}}
    </a>
</li>
{%- endmacro %}

{# See: https://www.11ty.dev/docs/plugins/navigation/ #}

{# Nav Links  #}
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about/cv.html">CV</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about/dh.html">DH</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about/tech.html">Tech</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/posts">Blog</a>
    </li>
</ul>

{# This file is ignored by prettier by now /bc too much damage ;-), see .prettierignore #}
