---
meta:
  lang: en
  title: Posts
layout: base
eleventyNavigation:
  key: Blog
---

<div class="p-5 mb-4 rounded-3" style="background-color: ghostwhite">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">My Blog Posts</h1>

    <ul class="list-unstyled pt-3">
      {%- for item in collections.posts | reverse -%}
      <li class="pb-1">
        <a href="{{ item.url | url }}">{{ item.data.title }}</a> | {{ item.data.date | dateReadable }}
      </li>
      {%- endfor -%}
    </ul>
  </div>

  <div class="col-md-10 mt-3">
    <div class="h-100 p-5 broder rounded-3">
      <h2>Categories</h2>
      <ul class="list-unstyle multi-column-list">
        {%- for tag in collections.tagsList | reverse -%} {%- if tag !== 'posts' -%}
        <li>
          <a href="/tags/{{ tag }}">{{ tag }}</a>
        </li>
        {%- endif -%} {%- endfor -%}
      </ul>
    </div>
  </div>

  <!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
</div>
