<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or meta.title }}</title>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ '/dist/app.css' | url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4DCQE192P"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-T4DCQE192P");
    </script>
    {% include "meta.njk" %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- skiplinks -->
    <a href="#main" class="visually-hidden-focusable">Skip to main content</a>

    {% include "header.njk" %}

    <main id="main">
      <div class="container py-4">
        <div class="row">
          <div class="col-md-10 mx-auto">
            {% if image %}
            <img src="{{ image }}" class="featured-image-post" />
            {% endif %}
            <h1 class="post-title">{{ title }}</h1>
            {% if date %}
            <p class="post-date">
              Posted: {{ date | dateReadable }}
              {% if tags %} in {% set filteredTags = [] %} {% for item in tags %} {% if item !== 'posts' %} {% set
              filteredTags = filteredTags.concat(item) %} {% endif %} {% endfor %} {% if filteredTags.length == 1 %}
              <a href="/tags/{{ filteredTags[0] }}">{{ filteredTags[0] }}</a>
              {% else %} {% for item in filteredTags %}
              <a href="/tags/{{ item }}">{{ item }}</a
              >{% if loop.index != filteredTags.length %}, {% endif %} {% endfor %} {% endif %} {% endif %}
            </p>
            {% endif %}
            {{ content | safe }}
          </div>
        </div>
      </div>
    </main>

    {% include "footer.njk" %}
    <script type="text/javascript" src="{{ '/dist/app.js' | url }}"></script>
  </body>
</html>
